<!--
  ~ Copyright (c) 2023. Ingo Noka
  ~ This file belongs to project cba9-driver.
  ~ This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  ~ To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  ~ Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
  ~
  -->

<configuration debug="false">

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{0}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>\(%file:%line\) - %message%n</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="logcat"/>
    </root>

</configuration>